.skillsEducationContainer{
    text-align: center;

}

/* education ----------------------------------------*/
.educationContainer{
    color: rgb(0, 0, 0);
}

.educationTitle{
    color: rgb(0, 0, 0)
}

.educationContent{
    color: rgb(0, 0, 0)
}

/* work ----------------------------------------*/
.workContainer{
    color: rgb(0, 0, 0)
}

.workTitle{
    color: rgb(0, 0, 0)
}

.workContent{
    color: rgb(0, 0, 0)
}

/* programing language ----------------------------------------*/
.programingLanguageContainer{
    color: rgb(0, 0, 0)
}

.programingLanguageTitle{
    color: rgb(0, 0, 0)
}

.programingLanguageContent{
    color: rgb(0, 0, 0)
}

/* language ----------------------------------------*/
.languageontainer{
    color: rgb(0, 0, 0)
}

.languageTitle{
    color: rgb(0, 0, 0)
}

.languageContent{
    color: rgb(0, 0, 0)
}